/* Estilos generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
	padding: 20px;
}

/* Estilos de encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2c3e50;
	font-weight: bold;
}

h1 {
	text-align: center;
	margin: 0.8em auto;
}
/* Estilos de enlaces */
a {
	color: #3498db;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Botones */
button {
	background-color: #3498db;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #2980b9;
}

/* Estilos para formularios */
input,
select,
textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
	border-color: #3498db;
	outline: none;
}

/* Contenedores */
.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}

.section {
	margin-bottom: 20px;
}

/* Estilos para tablas */
table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 10px;
	border: 1px solid #ddd;
}

table th {
	background-color: #f2f2f2;
	font-weight: bold;
}

/* Estilos para el footer */
footer {
	text-align: center;
	padding: 20px 0;
	background-color: #2c3e50;
	color: white;
}

footer a {
	color: #3498db;
}
.piscinas {
	display: flex;
	gap: 3em;
	flex-wrap: wrap;
	justify-content: space-around;
}
.piscina-limpia {
	background-color: green;
	color: white;
	padding: 5px;
	border-radius: 3px;
}

.piscina-sucia {
	background-color: red;
	color: white;
	padding: 5px;
	border-radius: 3px;
}

.piscina-limpia,
.piscina-sucia {
	min-width: 300px;
	display: inline-block;
}

.agregar-piscina div {
	max-width: 1400px;
	margin: 1em auto;
	padding: 0.5em;
	border-radius: 10px;
}

.agregar-piscina > * {
	font-size: 1.3rem;
}

.agregar-piscina button {
	display: block;
	max-width: 1200px;
	margin: 2em auto;
}
